html {
  background-color: #000000;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -125px;
  width: 250px;
  height: 100px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.icons {
  font-size: 15px;
  display: inline-block;
  position: absolute;
  top: 55%;
  left: 55%;
  margin-top: -50px;
  margin-left: -150px;
}

#clickableAwesomeFont {
  cursor: pointer;
}
.fab, .fas{
  color: #696969;
}
.fab:hover, .fas:hover {
  color: #CCCCCC;
}
